@charset "utf-8";
/*
 * Rádio 105 FM
 * Fontes: Appleberry (Títulos); Helvetica (Textos); #333;
 * Cores: Verde escuro:#187617; Azul escuro:#203198; Azul claro: #598ff0; Vermelho escuro:#ca1d0b; Lilás:#7919db; Amarelo:#f6e30e;
 */

* {
	padding: 0;
	margin: 0
}
/* Useful */
.align_center { text-align: center }
.align_right { text-align: right }
.middle { vertical-align: middle }
.align_justify { text-align: justify }
.uppercase { text-transform: uppercase }
.hidden, .collapsed, .block_hidden_only_for_screen { display: none }
.wrap { white-space: normal }
.bold { font-weight: bold }
.strike { text-decoration: line-through }
.italic { font-style: italic }
.top { vertical-align: top }
.span_link { cursor: pointer }
.span_link:hover { text-decoration: underline }
.f_left { float:left; }
.f_right { float:right; }
.clear { clear: both; }
br.clear {
	clear: both;
	line-height: 0;
	font-size: 0;
	height: 0
}
ul { list-style-type: none; }
noscript ul { list-style-type: none; background: black; color: white; padding: 10px; border: 1px solid gray }
/* new clearfix */
.clearfix:after {
	clear: both;
	display: block;
	height: 0;
	font-size: 0;
	visibility: hidden;
	content: ".";
}
* html .clearfix { zoom: 1 }
*:first-child+html .clearfix { zoom: 1 }

/* Estilo Principal */
a {
	color: #333;
	text-decoration: none;
	outline: none
}
a:hover { text-decoration:none; }
input { outline:none; border:none; }
.input:focus { outline: 0 }
a img {
	outline: none;
	border: none;
	text-decoration: none
}
h1 {
	font-size: 30px;
	line-height: 2em;
	padding-left: 0;
	margin: 0.5em 0;
	text-transform: uppercase;
	color: #000;
	height: 30px;
}
h1 span {
	text-transform: none;
	font-weight: normal;
	color: #e54d23;
}
h2 {
	font-size: 26px;
	line-height: 30px;
	padding-left: 0;
	margin: 0.5em 0;
	color: #000;
	height: 32px;
}
h2 span {
	text-transform: none;
	font-weight: normal;
	color: #e54d23;
	margin-left: 1em
}
h3 { font-size: 24px; color:#000; margin-bottom:5px; }
h3 span, h4 span { color:#e54d23; }
h4 { font-size:22px; margin-bottom:7px; }
h1, h2, h3 { font-family:"Appleberry","Comic Sans", "Trebuchet MS", sans-serif; font-weight:normal; }

p { }

/* Cores */
.red {color:#ca1d0b;}
.pink {color:#cc33cc;}
.green {color:#187617;}
.ciano {color:#0099ff;}
.purple {color:#7919db;}
.rosa {color:#ff0066;}
.orange {color:#ff9211;}
.yellow {color:#f6e30e;}
.navy {color:#203198;}
.blue {color:#598ff0;}
.white {color:#f7f7f7;}
.black{color:#000000;}

.button.red {background-color:#ca1d0b; color:#fff;}
.button.pink {background-color:#cc33cc; color:#fff;}
.button.green {background-color:#187617; color:#fff;}
.button.ciano {background-color:#0099ff; color:#333;}
.button.purple {background-color:#7919db; color:#fff;}
.button.rosa {background-color:#ff0066; color:#333;}
.button.orange {background-color:#ff9211; color:#fff;}
.button.yellow {background-color:#f6e30e; color:#333;}
.button.navy {background-color:#203198; color:#fff;}
.button.blue {background-color:#598ff0; color:#fff;}

.button { padding:4px 10px; cursor:pointer; }
.button:hover { opacity:0.8; }

/* Estrutura da Página */
body {
	background: none;
	font-size: 13px;
	font-family: Helvetica, "Trebuchet MS", Arial, sans-serif;
	color: #444;
	margin:0 auto;
	display:block;
}

#wrapper { max-width:1440px; min-width:968px; width:auto; margin:0 auto; border:none; background:transparent url(../img/body-bg.jpg) repeat right top; overflow:hidden; }
#wrapper #page { width:968px; margin:0 auto; padding:0; background:none; }

#wrapper2 { max-width:1440px; min-width:968px; width:auto; margin:0 auto; border:none; }
#centro { padding:0; margin:0 auto; }
#centro p { font-size:13px; line-height:20px;}

/* Cabeçalho */
#header { background:none; height:355px; z-index:10; position:relative; margin-bottom:10px; }

a#logo { width:450px; height:200px; margin:0 auto; display:block; position:relative; top:50px }
a#logo img { }

/* Menu */
#menu { background:url(../img/menu-bg.png) repeat-x left top; padding:0; margin:0 auto; height:50px; box-shadow:2px 2px 3px #444; }
#menu ul { width:900px; margin:0 auto 0; height:50px; padding:0 }
#menu ul li { color:#555; line-height:50px; display:block; padding:0; margin:0; text-align:center; float:left; }
#menu ul li:hover, #menu ul li.active { }
#menu ul li a { color:#555; display:block; padding:1px 17px 0; margin:0; font-size:16px; font-family:Helvetica, "Trebuchet MS", Arial, sans-serif; line-height:48px; font-weight:bold; }
#menu ul li a:hover { text-decoration:none; color:#000; }
#menu ul li.last a { border:none; }

/* Banner */
#banner-wrapper { margin:0 auto 10px; width:968px; }

/* Destaques */
h4.dest { background:url(../img/linha-destaques.png) no-repeat left center; height:14px; margin:7px auto; font-size:14px; font-family:Arial, Helvetica, sans-serif; color:#f7f7f7; }
#destaques { margin-bottom:10px; }
#destaques ul.sub {}
#destaques ul.sub li { float:left; margin-left:10px; width:223px; }
#destaques ul.sub li.first { margin-left:0 !important; }
#destaques ul.sub li a.img { display:block; margin:0 auto; width:227px; }
#destaques ul.sub li h5 { font-size:14px; }
#destaques ul.sub li h5 a { font-size:14px; font-family:"Trebuchet MS", Helvetica, sans-serif !important;  }
#destaques ul.sub li h5 span { font-size:12px; float: right; font-family:"Trebuchet MS", Helvetica, sans-serif !important; color:#555; }
#destaques ul.sub li p { font-size:11px; }

/*  */

/* Boxes */
div.box { background:url(../img/box-bg.png) repeat; padding:10px; }
#boxes { margin-bottom:10px; }
#boxes div.box { width:296px; height:450px; float:left; margin-right:10px; }
#boxes h2 { margin:3px 5px; }
#boxes #pedidas { margin-right:0 !important; float:right; }
#boxes #sociais { min-height:575px;  }
#boxes #sociais h4.tweet { background:url(../img/icons/twitter.png) no-repeat left center; font-size:16px; padding:6px 5px 6px 35px; }
#boxes #sociais h4.face { background:url(../img/icons/facebook.png) no-repeat left center; font-size:16px; padding:6px 5px 6px 35px; }
#boxes .soci-vid-pedi { min-height:575px; }

#boxes #videos ul li { clear:both; background:url(../img/box-hr.png) no-repeat center bottom; padding-bottom:20px; position:relative; margin-bottom:20px; }
#boxes #videos ul li a { float:left; margin-right:10px; }
#boxes #videos ul li h5 { font-size:12px; text-transform:uppercase; float:left; width:145px; line-height:20px; }
#boxes #videos ul li span.data { color:#777; position:absolute; right:110px; bottom:20px; }

.box#pergunta-do-dia { margin-bottom: 10px;  margin-top:10px; margin-right:0 !important; width:622px !important; height:auto !important; }
.box#pergunta-do-dia h2 { font-size:11pt; height:auto; }
.box#pergunta-do-dia h2 small { font-size:9pt; color:#555; }
.box#pergunta-do-dia div p { font-size:8pt; font-weight: bold; display:block; }
.box#pergunta-do-dia div textarea { width:540px; height:50px; }
.box#pergunta-do-dia div input { background:red; margin-left:10px; line-height:35px; width:112px; text-align:center; cursor:pointer; color:#f7f7f7; float:right; font-weight:normal; text-transform:uppercase; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px; }

#boxes #pedidas { position:relative; }
#boxes #pedidas ul li { clear:both; margin-bottom:15px; position:relative; }
#boxes #pedidas ul li img { float:left; margin-right:10px; }
#boxes #pedidas ul li div { float:left; width:200px; }
#boxes #pedidas ul li div p.music { float:left; width:200px; font-size:12px; font-weight:bold; text-transform:capitalize; }
#boxes #pedidas ul li div p.music span.autor { font-size:10px; font-weight:bold; color:#000; }
#boxes #pedidas ul li div a.ouvir { position:absolute; right:10px; bottom:10px; }
#boxes #pedidas ul li div a.ouvir:hover { opacity:0.8; }
#boxes #pedidas a.red { position:absolute; left:10px; bottom:10px; }

div.hr { background:url(../img/hr.png) no-repeat center center; height:5px; width:905px; display:block; margin:5px auto; }

#public-h { margin-bottom:10px; }

#galeria { width:620px; height:215px; margin:0 10px 10px 0; overflow:hidden; position:relative; }
#galeria a.button { position:absolute; right:10px; top:25px; }
#galeria h2 { margin:14px 0 0; }

#enquete { width:620px; /*height:60px;*/ margin:0; overflow:hidden; }
#enquete h2 { float:left; margin-right:20px; }
#enquete #poll { float:left; width:500px;  }
#enquete p.pergunta { padding-left:20px; background:url(../img/icons/seta-laranja.png) no-repeat left center; height:20px; line-height:20px; font-weight:bold; margin-bottom:10px;  }
#enquete #poll label { color:#111; margin-right:10px; }

#home #agenda { float:right; height:305px; display:inline-block; overflow:hidden; vertical-align:top; width:298px; }
#home #agenda ul { height:248px; overflow:auto; }

#conexao { float:left; color:#f7f7f7; }
#conexao .dest-topo { float:left; color:#f7f7f7; }
#conexao a.clique { float:left; color:#f7f7f7; background:url(../img/icons/botao-play.png) no-repeat left center; padding-left:32px; margin-top:35px; }
#conexao a.clique span { color:#f6e30e; font-weight:bold; }
#conexao a.clique span.ouvir { color:#fff; font-weight:normal; text-transform:none !important; font-size:10px; }

#user-info { float:right; position:relative; top:83px; }
#user-info ul { list-style:none; }
#user-info ul li { float:left; border-left:1px solid #f7f7f7; color:#f7f7f7; }
#user-info ul li a { color:#f7f7f7; padding:5px 10px; }
#user-info ul li a.login { padding-left:30px; background:url(../img/icons/user-icon.png) no-repeat left top; }
#user-info ul li.first { border-left:none !important; }

/* Footer */
#footer_wrapper { width:auto; max-width:1440px; min-width:968px; background:transparent url(../img/faixa-inferior.jpg) no-repeat center top; margin:10px auto 0; }
#footer { color:#fff; height:240px; width:968px; position:relative; display:block; margin:0 auto; }
#footer a, #footer p { color:#fff; font-size:14px; }
#footer span { padding:0 10px; }
#footer p { font-size:16px; }
#footer div.fone { font-size:16px; line-height:40px; margin-bottom:20px; }
#footer ul#menu-inferior { list-style:none; clear:both; width:775px; margin:0 auto 22px; }
#footer ul#menu-inferior li { float:left; border-right:1px solid #f7f7f7; line-height:20px; }
#footer ul#menu-inferior li.last { border-right:none !important; }
#footer ul#menu-inferior li a { padding:4px 15px; height:18px; line-height:18px; text-transform:uppercase; font-size:12px; }
#footer div#contato-footer { font-size:12px; margin-bottom:40px; }
#footer div#contato-footer p { font-size:12px; }
#footer div#contato-footer p.radio { font-size:14px; margin-bottom:10px; color:#f6e30e !important; }

/* Social */
div#social { float:right; margin-right:95px; position:relative; top:-10px; }
div#social a.face { background:url(../img/facebook.png) no-repeat left top; width:46px; height:100px; display:block; }
div#social a:hover { opacity:0.8; }

/* Bottom */
#bottom { margin:1em 0 0; height:20px; }
#bottom a.pump { float:right; margin-right:20px; }

/* Quem Somos */
#sobre { padding:10px 20px; }
#sobre p { line-height:20px; color:#333; font-size:14px; }

#sobre-fotos { padding:10px 20px 20px; }
#sobre-fotos ul { list-style:none; }
#sobre-fotos ul li { float:left; margin-right:34px; }
#sobre-fotos ul li.last { margin-right:0; }
#sobre-fotos ul li a {  }

/* Equipe */
#rap { width:685px; float:left; margin-right:10px; padding:15px 25px; font-size:14px; }
#rap p { line-height:20px; font-size:14px; }
#right-col { float:left; width:220px; }
#right-col #programa { padding:20px 15px 30px; margin-bottom:20px; }
#right-col #banner-v { }

/* agenda home */
#home #agenda { float:right; height:305px; display:inline-block; overflow:hidden; vertical-align:top; width:298px; }
#home #agenda ul { height:80%; overflow:auto; }
#home #agenda ul li {margin-bottom:15px;}
#home #agenda ul li span.data {
	color: #555;
	font-size: 12px;
	font-weight: bold;
	padding-left: 12px;
	background: url(../img/icons/seta-azul.png) no-repeat left center;
	display: block;
	margin-bottom: 5px;
}
#home #agenda ul li p.programa {color:navy; padding-left:12px; font-weight:bold;}
#home #agenda ul li span.local {font-size:11px; color:#000;padding-left:12px; font-weight:bold;}


/* Programas */
#programas #left-menu { width:220px; float:left; margin:0 10px 10px 0; height:690px; padding:0; }
#programas #left-menu div.title { background:url(../img/c.jpg) repeat; padding:20px; text-align:center; position:relative; margin-bottom:20px; }
#programas #left-menu div.title h5 { font-size:28px; font-family:Impact, Verdana; font-weight:normal; text-align:center; color:#f7f7f7; }
#programas #left-menu div.title p { font-size:12px; font-weight:bold; text-align:center; color:#f7f7f7; }
#programas #left-menu div.title span { background:url(../img/menu-arrow-c.png) no-repeat left top; width:28px; height:14px; position:absolute; bottom:-14px; left:28px; }
#programas #left-menu ul { padding:20px 30px; }
#programas #left-menu ul li { text-align:center; background:url(../img/box-bg.png) repeat; padding:0; border-radius:7px; -moz-border-radius:7px;-webkit-border-radius:7px; margin-bottom:10px; }
#programas #left-menu ul li:hover { opacity:0.8;  }
#programas #left-menu ul li a { font-family:Impact, Verdana; font-size:18px; display:block; padding:10px; }
#programas #left-menu div#menu-msg { margin-top: 50px; }
#programas #left-menu div#menu-msg a { font-weight:bold; }

#programas #progs { float:left; width:695px; padding:20px; height:650px; overflow:hidden; }
#programas #progs h5.uppercase { font-size:28px; font-family:Impact, Verdana; font-weight:normal; margin-left:20px; }
#programas #progs ul { overflow:auto !important; padding:20px; position:relative; height:575px; }
#programas #progs ul li { display:block; margin-bottom:20px; }
#programas #progs ul li.prog { }
#programas #progs ul li.prog h5 { background:url(../img/c.jpg) repeat; padding:5px 10px; color:#f7f7f7; float:left; clear:both; font-size:14px; text-transform:uppercase; font-family: Arial, Helvetica, sans-serif; margin-bottom:10px; }

/* Programação */
#programas #programa-dia { float:left; width:695px; padding:20px; height:650px; overflow:hidden; }
#programas #programa-dia h5.uppercase { font-size:28px; font-family:Impact, Verdana; font-weight:normal; margin:20px; }
#programas table.dia { width:660px; margin:0 auto; }
#programas table.dia th { background:#4a4a4c; color:#f7f7f7; text-transform:uppercase; margin-bottom:10px; padding:3px 15px; }
#programas table.dia td { height:32px; line-height:32px; padding-left:15px; }

/* Agendas */
#agendas #eventos { padding:20px; }
#agendas #eventos li { padding:10px; margin-bottom:20px; clear:both; list-style:none; height:220px; }
#agendas #eventos li div { float:left; margin-right:20px; }
#agendas #eventos li div a img { }
#agendas #eventos li div.f_left p { text-align:center; }
#agendas #eventos li div.dados-evento {
	margin-right:0 !important;
	width: 700px;
	max-height: 200px;
	overflow: auto;
	border-bottom: 1px solid #B4B4B4;
	padding: 10px;
}
#agendas #eventos li div.dados-evento span.data, span.data_especial { background:url(../img/icons/seta-azul.png) no-repeat left 3px; height:24px; padding-left:20px; font-size:14px; font-weight:bold; }
#agendas #eventos li div.dados-evento h5 { padding-left:20px; font-size:16px; font-weight:bold; margin-top:5px; }
#agendas #eventos li div.dados-evento p.black { font-weight:bold; }
#agendas #eventos li div.dados-evento p.local { padding-left:20px; }
#agendas #eventos li div.dados-evento p { padding-left:20px; }

#pager a.prev { background:url(../img/icons/prev.png) no-repeat left center; padding-left:20px; height:20px; line-height:20px; font-weight:bold; }
#pager a.next { background:url(../img/icons/next.png) no-repeat right center; padding-right:20px; height:20px; line-height:20px; font-weight:bold; }
#pager a.disabled { color:#999 !important; cursor:default; }
#pager span.flatview { margin:0 10px; }
#pager span.flatview a { margin:0 2px; border:1px solid #777; padding:1px 5px; color:#777; }
#pager span.flatview a.selected { border:1px solid #000; font-weight:bold; color:#000; }
#pager span.flatview a:hover { border:1px solid #111; color:#111; }

/* Promoções */
#promocoes #promos { padding:20px; }
#promocoes #promos li { padding:10px; margin-bottom:20px; clear:both; list-style:none; height:220px; }
#promocoes #promos li div { float:left; margin-right:20px; }
#promocoes #promos li div a img { }
#promocoes #promos li div.f_left p { text-align:center; }
#promocoes #promos li div.dados-promo { margin-right:0 !important; max-width:690px; }
#promocoes #promos li div.dados-promo span.item { background:url(../img/icons/seta-vermelha.png) no-repeat left 1px; height:32px; padding-left:20px; font-size:18px; font-weight:bold; font-weight:bold; }
#promocoes #promos li div.dados-promo h5 { padding-left:20px; font-size:14px; margin-top:5px; }
#promocoes #promos li div.dados-promo h5 span { font-size:12px; color:#666;}
#promocoes #promos li div.dados-promo p.black { font-weight:bold; }
#promocoes #promos li div.dados-promo p { padding-left:20px; }

/* Notícias */
#noticias #news { padding:20px; }
#noticias #news li { padding:10px; margin-bottom:20px; clear:both; list-style:none; height:100px; }
#noticias #news li div { float:left; margin-right:20px; }
#noticias #news li div a img { }
#noticias #news li div.dados-news { margin-right:20px; max-width:550px; }
#noticias #news li div.dados-news span.item { background:url(../img/icons/seta-vermelha.png) no-repeat left 1px; height:32px; font-size:16px; font-weight:bold; font-weight:bold; }
#noticias #news li div.dados-news h5 { font-size:14px; margin-top:5px; }
#noticias #news li div.dados-news h5 span.data { font-size:14px; color:#666;}
#noticias #news li div.dados-news p.black { font-weight:bold; }
#noticias #news li div.dados-news p { }
#noticias #news li div.btns { margin-right:0; max-width:200px; }
#noticias #news li div.btns a.integra { width:75px; height:75px; background:url(../img/icons/integra.png) no-repeat left top; display:inline-block; margin:10px 20px 0 0; }
#noticias #news li div.btns a.send { width:75px; height:75px; background:url(../img/icons/enviaramigo.png) no-repeat left top; display:inline-block; margin-top:10px; }
#noticias #news li div.btns a:hover { opacity:0.8; }

/* Notícias */
#noticia div.noticia { padding:20px; }
#noticia div.noticia .conteudo-noticia{ float:left; width:500px; margin-right:20px; padding-left:10px; }

#noticia .galeria-noticia { float:left; margin:0; width:350px; }
#noticia .galeria-noticia .img-noticia img { width:400px; margin:0 auto 20px; display:block; }
#noticia .galeria-noticia ul.util { list-style:none; float:right; }
#noticia .galeria-noticia ul.util li { margin-bottom:5px; line-height:22px; height:22px; padding-left:25px; width:150px; }
#noticia .galeria-noticia ul.util li a { font-size:12px; text-transform:uppercase; line-height:22px; }
#noticia .galeria-noticia ul.util li.print { background:url(../img/icons/print.png) no-repeat left top; }
#noticia .galeria-noticia ul.util li.send { background:url(../img/icons/mail.png) no-repeat left top; }
#noticia .galeria-noticia ul.util li.share { background:url(../img/icons/face.png) no-repeat left top; }
#noticia .galeria-noticia ul.util li.prev { background:url(../img/icons/prev2.png) no-repeat left top; }
#noticia .galeria-noticia ul.util li.next { background:url(../img/icons/next2.png) no-repeat left top; }

/* Galeria de fotos */
#galeria-fotos ul.pic { padding:10px 20px; }
#galeria-fotos ul.pic li { width:210px; margin-right:22px; float:left }
#galeria-fotos ul.pic li img { margin-bottom:5px; }
#galeria-fotos ul.pic li.last { margin-right:0; }
#galeria-fotos ul.pic li p.data { background:url(../img/icons/seta-lilas.png) no-repeat left center; line-height:20px; padding-left:20px; font-weight:bold; margin-bottom:5px; }

/* Galeria de vídeos  */
#galeria-videos #videos ul { padding:20px; }
#galeria-videos #videos ul li.vdo { width:440px; float:left; height:150px; margin-bottom:20px; }
#galeria-videos #videos ul li.vdo.esq { margin-right:20px; }
#galeria-videos #videos ul li img { margin-right:20px; }
#galeria-videos #videos ul li div.video-info { position:relative; width:200px; height:150px; }
#galeria-videos #videos ul li div.video-info h5 { font-size:12px; text-transform:uppercase; }
#galeria-videos #videos ul li div.video-info p.data { position:absolute; left:0; bottom:0; }

/* Contato */
/*
#contato div.form { width:300px; margin:0 40px 0 30px; display:inline-block; background:url(../img/form-bg.jpg); padding:20px; position:relative; }
#contato p.text { margin-bottom:5px; }
#contato p.text input { background:#fff; height:24px; line-height:24px; padding:1px 5px; border:1px solid #ccc; width:290px; margin-bottom:10px; }
#contato p.select select { background:#fff; height:28px; line-height:26px; padding:1px 1px 1px 5px; border:1px solid #ccc; width:302px; }

#contato p.name { }
#contato p.textarea textarea { background:#fff; height:140px; line-height:24px; padding:5px 7px; border:none; width:286px; margin-bottom:7px;  border:1px solid #ccc; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }
#contato div.form p.submit input{ background:url(../img/form-button.jpg) no-repeat left top; margin-left:10px; line-height:35px; width:112px; text-align:center; cursor:pointer; color:#777; float:right; font-family:"Bebas Neue","Times New Roman", "Trebuchet MS", sans-serif; font-weight:normal; }
#contato div.form p.submit a { background:url(../img/form-button.jpg) no-repeat left top; margin-left:10px; height:12px; padding:11px 0; width:112px; text-align:center; cursor:pointer; color:#777; float:right; font-family:"Bebas Neue","Times New Roman", "Trebuchet MS", sans-serif; font-weight:normal; }
#contato div.form p.submit input:hover {opacity:0.8;}

#contato #infos { padding-left:50px; border-left:2px dotted #777; display:inline-block; vertical-align:top; margin-top:62px; }
#contato #infos h3 { font-size:30px; }
#contato #infos h4 { font-size:26px; }
#contato #infos p {  }
#contato #infos p a.mail { color:#444; }
#contato #infos p a.link { font-weight:bold; }
 */

.hide { display:none; }
#sliderPrevBtn {
	background: url(../img/arrow-left.png) no-repeat left top;
	width: 53px;
	height: 66px;
	display:block;
}
#sliderNextBtn {
	background: url(../img/arrow-right.png) no-repeat right top;
	width: 64px;
	height: 66px;
	display:block;
}
.SliderName_2_right {
	float: left;
	padding: 143px 0 0 813px;
	width: 64px;
	height: 64px;
	position: relative;
	z-index:9;
}
.SliderName_2_left {
	float: left;
	padding: 143px 26px 0 0;
	width: 64px;
	height: 64px;
	overflow: hidden;
	position: relative;
	z-index:999;
}

.regulamento {
	width: 810px;
	height: 300px;
	border:1px solid #888;
	overflow: auto;
	padding:25px;
}

/* Contato */
body#contato div.form { width:400px; margin:0; display:inline-block; background:none; padding:0 60px 10px 30px; position:relative; font-family: "Trebuchet MS", "Myriad Pro", Helvetica, sans-serif; }
body#contato form p.text { margin-bottom:5px; }
body#contato form p label {text-align:right; text-transform:uppercase; margin-right:5px; width:100px; display:inline-block; font-family: "Trebuchet MS", "Myriad Pro", Helvetica, sans-serif;}
body#contato form p.text input { background:none; height:24px; line-height:24px; padding:1px 5px; border:1px solid #777; width:275px; margin-bottom:10px; }
body#contato p select { background:#fff; height:28px; line-height:26px; padding:1px 1px 1px 5px; border:1px solid #ccc; width:302px; }

body#contato p.name { }
body#contato p.telefone span.ddd input { width:40px; margin-right:5px; }
body#contato p.telefone input#telefone { width:214px; }
body#contato form textarea { background:none; height:140px; line-height:24px; padding:5px 7px; border:1px solid #777; width:271px; margin-bottom:7px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; }
body#contato form p.textarea label {vertical-align:top; }
body#contato div.form p.submit input { background:#555; margin-left:10px; line-height:35px; width:112px; text-align:center; cursor:pointer; color:#f7f7f7; float:right; font-weight:normal; text-transform:uppercase; border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;}
body#contato div.form p.submit input:hover {background:#111; color#fff;}

body#contato #infos { display:inline-block; vertical-align:top; padding:267px 20px 0 60px; border-left:1px solid #777; }
body#contato #infos h5 { font-size:20px; margin-bottom:15px; }
body#contato #infos h5 span { font-size:14px; font-weight:normal; }
body#contato #infos h5.fone { font-size:14px; font-weight:boldl }
body#contato #infos p.loguinho { margin-bottom:20px; }
body#contato #infos p a.mail { color:#444; }
body#contato #infos p a.link { font-weight:bold; }