<!-- All "mailvar"- and "mailval"-elements in this document will be replaced -->
<mail>
    <!-- Subject and mail headers can be set here.
        Variables can also be used to fill headers! -->
    <mailfields>
        <subject>Promo STi Fale Conosco</subject>
    </mailfields>
    <mailbody>
        <!-- put html mail contents here -->
        <html>
        <head>
        <title>Promoção STi Todo Dia | Semp Toshiba</title>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        </head>
        <body bgcolor="#CCC" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
            <table width="550" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td><a href="http://www.promosti.com.br" target="_blank"><img src="http://www1.semptoshiba.com.br/promo/image/content/email/topo.jpg" width="550" height="179" border="0"></a></td>
                </tr>
                <tr>
                    <td bgcolor="#FFFFFF">
                    	<table border="0" cellpadding="0" cellspacing="0" align="center" width="467">
                        	<tr>
                            	<td>
                                        <font face="Arial, Helvetica, sans-serif" color="#2e2e2e">
                                            <font size="4"><strong>Dados do Cliente</strong></font>

                                            <br /><br />

                                            <font size="2">
                                                <strong>Nome:</strong> <mailvar key="fromName" /><br/>
                                                <strong>Email:</strong> <mailvar key="fromEmail" /><br/>
                                                <strong>Assunto:</strong> <mailvar key="assunto" /><br/>
                                                <strong>Mensagem:</strong> <mailvar key="mensagem" /><br/>
                                            </font>

                                        </font>
        		</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><a href="http://www.promosti.com.br" target="_blank"><img src="http://www1.semptoshiba.com.br/promo/image/content/email/rodape.jpg" width="550" height="179" border="0"></a></td>
                </tr>
            </table>
        </body>
        </html>
     </mailbody>
</mail>